extends layout

block content

    form.col-4.mx-auto( method="POST",action="/login")
        .form-group
            label Username
            input.form-control(type="text",name="uname")
        .form-group
            label Password
            input.form-control(type="password",name="psd")
        br
        button.btn.btn-primary(type="submit") Login
